<template>
    <div class="orbit mercury" :style="orbitStyle">
        <span class="planet mercury" :style="planetStyle"></span>
    </div>
</template>

<script>
const constants = {
    aphelion: 20,
    diameter: 5
}

export default {
    name: 'mercury',
    props: ['epoch'],
    computed: {
        heliocentricLongitude() {
            // Get the amount of days since August 25 1996
            // Source of data & formulae to work with http://www.stargazing.net/kepler/circle.html
            let daysSinceEpoch = this.epoch / (24 * 60 * 60 * 1000);

            let hle = 4.092385 * daysSinceEpoch + 370.18020;

            return hle;
        },
        orbitStyle() {
            return {
                top: `calc( 50% - ${constants.aphelion / 2}% - 1px )`,
                left: `calc( 50% - ${constants.aphelion / 2}% - 1px )`,
                width: `${constants.aphelion}%`,
                paddingBottom: `${constants.aphelion}%`,
                transform: `rotate(${this.heliocentricLongitude}deg)`
            }

        },
        planetStyle() {
            return {
                top: `calc( -${constants.diameter / 2}% )`,
                left: `calc( 50% - ${constants.diameter / 2}% )`,
                width: `${constants.diameter}%`,
                paddingBottom: `${constants.diameter}%`
            }
        }
    }
}
</script>

<style scoped>
    .orbit {
        position: absolute;

        border: 1px solid white;
        border-radius: 100%;

        transition: transform 0.3s ease-in-out;
        transform-origin: 50% 50%;

        color: white;
    }

    .planet.mercury {
        position: absolute;
        display: block;

        background-color: #cf9071;
    }
</style>
