<template>
    <span class="sun" :style="styleObject"></span>
</template>

<script>
export default {
    props: ['scale'],
    name: 'sun',
    data: function() {
        return {
            styleObject: {
                top: `calc( 50% - 5%)`,
                left: `calc( 50% - 5%)`,
                width: `10%`,
                paddingBottom: `10%`
            }
        }
    }
}
</script>

<style>
span.sun {
    background: radial-gradient(circle, #fffb99, #fffe6a); /* Standard syntax */
}
</style>
