<template>
    <div>
        <Controls :now.sync="now"></Controls>
        <Space :now="now"></Space>
    </div>
</template>

<script>
import Space from './Space.vue'
import Controls from './Controls.vue'

export default {
    // Simlified Kepler's equations found at: http://www.stargazing.net/kepler/circle.html
    name: 'app',
    data() {
        return {
            now: new Date().toHtmlInputFormat()
        }
    },
    components: {
        Space,
        Controls
    }
}
</script>

<style>
    html, button {
        font-family: 'Ubuntu', sans-serif;
    }

    body {
        overflow: hidden;
    }
</style>

<style scoped>
    div {
        position: relative;

        height: 100%;
    }
</style>
