<template>
    <nav>
        <button @click="toggleMenu()" class="menu">Menu</button>
        <p>
            {{ neatDate }}
        </p>
        <div class="tab" :class="{ shown: menuState }">
            <div class="page" v-if="page == 1">
                <span class="date-control">
                    <button class="up" @click="incrementDay()"><img src="./../assets/up.svg" /></button>
                    <input min="1" max="31" @input="changeDay($event.target.value)" :value="day" type="number" />
                    <button class="down" @click="decrementDay()"><img src="./../assets/down.svg" /></button>
                </span>
                <span class="date-control">
                    <button class="up" @click="incrementMonth()"><img src="./../assets/up.svg" /></button>
                    <input min="1" max="12" @input="changeMonth($event.target.value)" :value="month" type="number" />
                    <button class="down" @click="decrementMonth()"><img src="./../assets/down.svg" /></button>
                </span>
                <span class="date-control">
                    <button class="up" @click="incrementYear()"><img src="./../assets/up.svg" /></button>
                    <input @input="changeYear($event.target.value)" :value="year" type="number" />
                    <button class="down" @click="decrementYear()"><img src="./../assets/down.svg" /></button>
                </span>
            </div>
            <div class="page" v-if="page == 2">
                <div class="half">
                    <h2>Seconds since&colon;</h2>
                    <p>{{ elapsed }} s</p>
                </div>
                <div class="half">
                    <h2>Earth km since&colon;</h2>
                    <p>{{ distance }} km</p>
                </div>
            </div>
            <div class="tab-buttons">
                <button class="tab-btn" :class="{ selected: page == 1 }" @click="setPage(1)">Date</button>
                <button class="tab-btn" :class="{ selected: page == 2 }" @click="setPage(2)">Stats</button>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    props: ['now'],
    name: 'controls',
    data: function() {
        return {
            menuState: false,
            page: '1',
            elapsed: 'Uncertain',
            distance: 'Uncertain'
        }
    },
    computed: {
        day() {
            return this.now.split('-')[2];
        },
        month() {
            return this.now.split('-')[1];
        },
        year() {
            return this.now.split('-')[0];
        },
        neatDate() {
            let date = new Date(this.now);

            return date.toLocaleString('en-US', {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });
        }
    },
    mounted() {
        setInterval(() => {
            let date = new Date(this.now);
            let orbit = 940000000;

            let elapsed = Math.abs(date.getTime() - Date.now());
            let years = ((((elapsed / 1000) / 360) / 24) / 365);

            this.elapsed = parseInt(elapsed / 1000);
            this.distance = parseInt(years * orbit);
        }, 30);
    },
    methods: {
        setPage(n) {
            this.page = n;
        },
        toggleMenu() {
            this.menuState = !this.menuState;

            if (this.menuState) {
                window.onpopstate = function(e) {
                    e.preventDefault();

                    console.log('You are trying to go back but you cannot');
                }
            }
        },
        incrementDay() {
            let date = new Date(this.now);

            date.setDate(date.getDate() + 1);

            this.$emit('update:now', date.toHtmlInputFormat());
        },
        decrementDay() {
            let date = new Date(this.now);

            date.setDate(date.getDate() - 1);

            this.$emit('update:now', date.toHtmlInputFormat());
        },
        incrementMonth() {
            let date = new Date(this.now);

            date.setMonth(date.getMonth() + 1);

            this.$emit('update:now', date.toHtmlInputFormat());
        },
        decrementMonth() {
            let date = new Date(this.now);

            date.setMonth(date.getMonth() - 1);

            this.$emit('update:now', date.toHtmlInputFormat());
        },
        incrementYear() {
            let date = new Date(this.now);

            date.setFullYear(date.getFullYear() + 1);

            this.$emit('update:now', date.toHtmlInputFormat());
        },
        decrementYear() {
            let date = new Date(this.now);

            date.setFullYear(date.getFullYear() - 1);

            this.$emit('update:now', date.toHtmlInputFormat());
        },
        changeDay(day) {
            day %= 32

            let date = `${this.now.split('-')[0]}-${this.now.split('-')[1]}-${day >= 10 ? '' : '0'}${day}`;

            this.$emit('update:now', date);
        },
        changeMonth(month) {
            month %= 13

            let date = `${this.now.split('-')[0]}-${month >= 10 ? '' : '0'}${month}-${this.now.split('-')[2]}`;

            this.$emit('update:now', date);
        },
        changeYear(year) {
            let date = `${year}-${this.now.split('-')[1]}-${this.now.split('-')[2]}`;

            this.$emit('update:now', date);
        }
    }
}
</script>

<style scoped>
    nav {
        display: block;
        position: fixed;
        z-index: 1;

        bottom: 0; left: 0;

        height: 64px;
        width: 100%;

        background-color: #22566f;
    }

    nav > p {
        position: absolute;
        top: 24px; left: 0;
        margin: 0;

        width: calc(100% - 64px);

        text-align: center;

        font-weight: 700;
    }

    nav > button.menu {
        display: block;
        position: absolute;
        top: 0; right: 0;

        width: 64px;
        height: 64px;

        background-image: url('./../assets/menu.svg');
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: 50% 50%;
        background-color: #2aa2d2;

        text-indent: 200%;
        overflow: hidden;

        border: none;

        outline: none;

        transition: background-color 0.3s linear;
    }

    nav > button.menu:active {
        background-color: #55c1ec;
    }

    .tab {
        position: absolute;
        bottom: -500%; left: 0;

        width: 100%; height: 300%;

        background-color: #183e4f;

        transition: bottom 0.3s ease-in-out;
    }

    .tab.shown {
        bottom: 64px;
    }

    .tab .page {
        position: absolute;
        top: 0; left: 0;
        padding: 1rem;
        box-sizing: border-box;

        width: 100%;

        background-color: #183e4f;
    }

    input {
        padding: 0.5rem;
        width: 100%;

        border: none;
        box-sizing: border-box;

        background-color: rgba(0, 0, 0, 0.53);

        color: white;

        text-align: center;
        font-size: 24px;
        font-weight: 700;

        outline: none;
    }

    span.date-control {
        display: block;
        margin: 0 5px;

        height: 100%;
        float: left;
        width: calc(33.333% - 10px);
    }

    span.date-control button {
        display: block;
        padding: 1px;

        width: 100%;

        border: none;
        outline: none;

        background-color: #2789bf;
        color: white;
    }

    span.date-control button.up {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    span.date-control button.down {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .tab-buttons {
        position: absolute;
        bottom: 0; left: 0;

        width: 100%;
        height: 64px;
    }

    .tab-btn {
        display: block;
        width: 50%; height: 100%;
        box-sizing: border-box;

        color: white;

        border: none;
        outline: none;

        float: left;

        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        background-color: #2789bf;

        transition: background-color 0.3s ease-in-out;
    }

    .tab-btn.selected {
        background-color: #5bbee6;
    }

    h2 {
        margin: 0;
        font-size: 18px;
    }

    div.half {
        margin: 5px;
        padding: 8px;
        box-sizing: border-box;
        width: calc(50% - 10px);
        float: left;

        border-radius: 5px;

        background-color: #37728a;
    }

    div.half p {
        margin-bottom: 0
    }
</style>
