<template>
    <section id="space">
        <sun></sun>
        <mercury :epoch="getEpochTime"></mercury>
        <venus :epoch="getEpochTime"></venus>
        <earth :epoch="getEpochTime"></earth>
        <mars :epoch="getEpochTime"></mars>
        <jupiter :epoch="getEpochTime"></jupiter>
        <saturn :epoch="getEpochTime"></saturn>
        <uranus :epoch="getEpochTime"></uranus>
        <neptune :epoch="getEpochTime"></neptune>
    </section>
</template>

<script>
import Sun from './celestial_bodies/Sun.vue'
import Mercury from './celestial_bodies/Mercury.vue'
import Venus from './celestial_bodies/Venus.vue'
import Earth from './celestial_bodies/Earth.vue'
import Mars from './celestial_bodies/Mars.vue'
import Jupiter from './celestial_bodies/Jupiter.vue'
import Saturn from './celestial_bodies/Saturn.vue'
import Uranus from './celestial_bodies/Uranus.vue'
import Neptune from './celestial_bodies/Neptune.vue'

export default {
    // Simlified Kepler's equations found at: http://www.stargazing.net/kepler/circle.html

    name: 'space',
    props: ['now'],
    computed: {
        // UT 25th August 1996
        getEpochTime() {
            let epoch = new Date(1996, 8, 25);
            let now = Date.parse(this.now);

            return now - epoch;
        }
    },

    components: {
        Sun,
        Mercury,
        Venus,
        Earth,
        Mars,
        Jupiter,
        Saturn,
        Uranus,
        Neptune
    }
}
</script>

<style>
h1 {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: black; /* For browsers that do not support gradients */
    background: radial-gradient(circle, #031013, #010408); /* Standard syntax */
    color: white;
}

section#space {
    display: block;
    position: absolute;
    top: calc(50% - (100vw / 2));
    padding: 0;

    width: 100%;
    padding-bottom: 100%;

    overflow: hidden;
}

@media screen and (min-aspect-ratio: 1/1) {
    section#space {
        position: relative;
        top: 0;
        margin: 0 auto;
        padding: 0;

        height: 100%;

        max-width: 100vh;
    }
}

#space span {
    position: absolute;
    top: 0; left: 0;

    transform-origin: 50% 50%;

    display: block;

    border-radius: 100%;
}
</style>
